{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <head>
        <title>Decide | {% block title %} Vote {% endblock %}</title>
        <link rel="stylesheet" href="{% static "base/style.css" %}">
        <link rel="stylesheet" href="{% static "booth/style.css" %}">
    </head>
{% endblock %}

{% block content %}

<div id="app-booth">

    <div class="voting" >
        <!-- Voting -->
        <div class="card-container">
            <div class="card-voting" v-if="!signup">
                <h1 class="voting-title">[[ voting.name ]]</h1>
                <h2 class="voting-desc">[[ voting.question.desc ]]</h2>
                <form v-for="opt in voting.question.options" :key="opt.number">
                    <div class="form-options">
                        <input type="radio" v-model="selected" v-if="questionType == 'S'"
                                    :id="'q' + opt.number"
                                    name="question"
                                    :value="opt.number">
                        <input type="checkbox" v-model="selected" v-if="questionType == 'M'"
                                    :id="'q' + opt.number"
                                    name="question"
                                    :value="opt.number">
                            [[ opt.option ]]
                    </div>
                </form>
                <button class="btn btn-vote mt-3" v-on:click="decideSend">
                    {% trans "Vote" %}
                </button>
            </div>
        </div>
    </div>

</div>
    
{% endblock %}

{% block extrabody %}
    <!-- needed to generate big random -->
    <script src="{% static "crypto/sjcl.js" %}"></script>

    <!-- Big integer -->
    <script src="{% static "crypto/jsbn.js" %}"></script>
    <script src="{% static "crypto/jsbn2.js" %}"></script>
    <script src="{% static "crypto/bigint.js" %}"></script>

    <!-- ElGamal encrypt -->
    <script src="{% static "crypto/elgamal.js" %}"></script>

    <!-- Vuejs -->
    <script src="https://unpkg.com/vue@latest"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.2.2/dist/js/bootstrap.js"></script>

    <script>
        const { createApp } = Vue
        var voting = {{voting|safe}};
        var questionType = "{{ question_type }}";
        createApp({
            delimiters: ['[[', ']]'],
            data() {
                return {
                    voting: voting,
                    selected: [],
                    successVote: false,
                    alertShow: false,
                    alertMsg: "",
                    alertLvl: "info",
                    token: '{{ csrf_token }}',
                    user_id: '{{user.id}}',
                    bigpk: {
                        p: BigInt.fromJSONObject(voting.pub_key.p.toString()),
                        g: BigInt.fromJSONObject(voting.pub_key.g.toString()),
                        y: BigInt.fromJSONObject(voting.pub_key.y.toString()),
                    },
                    keybits: {{ KEYBITS }},
                    questionType: questionType
                }
            },
            beforeMount() {
                ElGamal.BITS = this.keybits;
            },
            methods: {
                postData(url, data) {
                    // Default options are marked with *
                    var fdata = {
                        body: JSON.stringify(data),
                        headers: {
                            'content-type': 'application/json',
                        },
                        method: 'POST',
                    };

                    if (this.token) {
                        fdata.headers['Authorization'] = 'Token ' + this.token;
                    }

                    return fetch(url, fdata)
                        .then(response => {
                            if (response.status === 200) {
                                return response.json();
                            } else {
                                return Promise.reject(response.statusText);
                            }
                        });
                },
                decideEncrypt(s) {
                    var bigmsg = BigInt.fromJSONObject(s);
                    var cipher = ElGamal.encrypt(this.bigpk, bigmsg);
                    return cipher;
                },
                decideSend(evt) {
                    evt.preventDefault();
                    if (this.questionType === 'S'){
                        var v = this.decideEncrypt(this.selected.toString());
                        var data = {
                            vote: {a: v.alpha.toString(), b: v.beta.toString()},
                            voting: this.voting.id,
                            voter: this.user_id,
                            token: this.token
                        }
                    }
                    else if (this.questionType === 'M') {
                        var selected = []
                        var vote = []
                        for (i=0; i < selected.lenght; i++){
                          var v = this.decideEncrypt(selected[i].toString())
                          vote.push({a: v.alpha.toString(), b: v.beta.toString()})
                        }
                        var data = {
                            vote: vote,
                            voting: this.voting.id,
                            voter: this.user.id,
                            token: this.token
                        }
                    }
                    
                    this.postData("{% url "gateway" "store" "/" %}", data)
                        .then(data => {
                            this.successVote = true;
                            this.alertShow = false;
                            this.showAlert("success", '{% trans "Congratulations. Your vote has been sent" %}');
                        })
                        .catch(error => {
                            this.succesVote = false;
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                },
                showAlert(lvl, msg) {
                    this.alertLvl = lvl;
                    this.alertMsg = msg;
                    this.alertShow = true;
                }
            },
        }).mount('#app-booth')
    </script>
</body>
{% endblock %}