{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <head>
        <title>Decide | {% block title %} Vote {% endblock %}</title>
        <link rel="stylesheet" href="{% static "base/style.css" %}">
        <link rel="stylesheet" href="{% static "booth/style.css" %}">
    </head>
{% endblock %}

{% block content %}

<div id="app-booth">

    <div class="voting" >
        
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
            </symbol>
            <symbol id="info-fill" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
            </symbol>
            <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
            </symbol>
        </svg>
    
        <div class="alert alert-success d-flex align-items-center" role="alert" :variant="alertLvl" dismissible v-if="successVote">
            <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
            </svg>
            <div>
                [[ alertMsg ]]
            </div>
        </div>
    
        <div class="alert alert-danger d-flex align-items-center" role="alert" :variant="alertLvl" dismissible v-if="!successVote && alertShow">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Failure:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
                [[ alertMsg ]]
            </div>
        </div>

        <div class="form-card">
            <!-- Modal -->
            <div  id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
                <div>
                    <!-- Register -->
                    <form class="form-card" @submit="onSubmitLogin" v-if="signup">
                        <section class="form-title">Confirma tus credenciales antes de continuar</section>
                        <div class="form-content">
                            <div class="input-group">
                                <label for="username">{% trans "Username" %}</label>:
                                <input
                                    id="username"
                                    type="text"
                                    v-model="form.username"
                                    autocomplete="username"
                                    required />
                            </div>
                            <div class="input-group">
                                <label for="password">{% trans "Password" %}</label>:
                                <input
                                    id="password"
                                    type="password"
                                    autocomplete="current-password"
                                    v-model="form.password"
                                    required />
                            </div>
                            <button class="btn btn-primary mt-3" type="submit" data-bs-dismiss="modal">{% trans "Login" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Voting -->
        <div class="card-container">
            <div class="card-voting" v-if="!signup">
                <h1 class="voting-title">[[ voting.name ]]</h1>
                <h2 class="voting-desc">[[ voting.question.desc ]]</h2>
                <form>
                    <div class="form-options">
                        <div v-if="questionType == 'S' || questionType == 'B' || questionType == 'M'" v-for="opt in voting.question.options" :key="opt.number">
                            <input type="radio" v-model="selected" v-if="questionType == 'S' || questionType == 'B'"
                                        :id="'q' + opt.number"
                                        name="question"
                                        :value="opt.number">
                            <input type="checkbox" v-model="selected" v-if="questionType == 'M'"
                                        :id="'q' + opt.number"
                                        name="question"
                                        :value="opt.number">
                            
                                [[ opt.option ]]
                        </div>
                        <div v-if="questionType == 'P'">
                            <br>
                            <p> Remember that 1 is the highest priority and [[voting.question.options.length]] is the lowest priority</p>
                            <br>
                            <div v-for="(opt, index) in voting.question.options">
                                <select v-model="selected[index]">
                                  <option v-for="opt in voting.question.options">
                                    [[ opt.number ]]
                                  </option>
                                </select> [[opt.option]]
                                <div>Selected priority of [[ selected[index] ]] for [[opt.option]]</div>
                                <br>
                              </div>
                        </div>
                    </div>
                </form>
                <button class="btn btn-vote mt-3" v-on:click="decideSend">
                    {% trans "Vote" %}
                </button>
            </div>
        </div>
    </div>

</div>
    
{% endblock %}

{% block extrabody %}
    <!-- needed to generate big random -->
    <script src="{% static "crypto/sjcl.js" %}"></script>

    <!-- Big integer -->
    <script src="{% static "crypto/jsbn.js" %}"></script>
    <script src="{% static "crypto/jsbn2.js" %}"></script>
    <script src="{% static "crypto/bigint.js" %}"></script>

    <!-- ElGamal encrypt -->
    <script src="{% static "crypto/elgamal.js" %}"></script>

    <!-- Vuejs -->
    <script src="https://unpkg.com/vue@latest"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.2.2/dist/js/bootstrap.js"></script>

    <script>
        const { createApp } = Vue
        var voting = {{voting|safe}};
        var questionType = "{{ question_type }}";
        var selected = [];
        createApp({
            delimiters: ['[[', ']]'],
            data() {
                return {
                    voting: voting,
                    selected: selected,
                    successVote: false,
                    alertShow: false,
                    signup: true,
                    alertMsg: "",
                    alertLvl: "info",
                    token: null,
                    user: null,
                    form: {
                        username: '',
                        password: ''
                    },
                    bigpk: {
                        p: BigInt.fromJSONObject(voting.pub_key.p.toString()),
                        g: BigInt.fromJSONObject(voting.pub_key.g.toString()),
                        y: BigInt.fromJSONObject(voting.pub_key.y.toString()),
                    },
                    keybits: {{ KEYBITS }},
                    questionType: questionType
                }
            },
            beforeMount() {
                this.init()
                ElGamal.BITS = this.keybits;
            },
            methods: {
                init() {
                    var cookies = document.cookie.split("; ");
                    cookies.forEach((c) => {
                        var cs = c.split("=");
                        if (cs[0] == 'decide' && cs[1]) {
                            this.token = cs[1];
                            this.getUser();
                        }
                    });
                },
                postData(url, data) {
                    var fdata = {
                        body: JSON.stringify(data),
                        headers: {
                            'content-type': 'application/json',
                        },
                        method: 'POST',
                    };

                    if (this.token) {
                        fdata.headers['Authorization'] = 'Token ' + this.token;
                    }

                    return fetch(url, fdata)
                        .then(response => {
                            if (response.status === 200) {
                                return response.json();
                            } else {
                                return Promise.reject(response.statusText);
                            }
                        });
                },
                onSubmitLogin(evt) {
                    evt.preventDefault();
                    this.postData("{% url "gateway" "authentication" "/login/" %}", this.form)
                        .then(data => {
                            document.cookie = 'decide='+data.token+';';
                            this.token = data.token;
                            this.getUser();
                            this.alertShow = false;
                        })
                        .catch(error => {
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                },
                getUser(evt) {
                    var data = {token: this.token};
                    this.postData("{% url "gateway" "authentication" "/getuser/" %}", data)
                        .then(data => {
                            this.user = data;
                            this.signup = false;
                            this.alertShow = false;
                        }).catch(error => {
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                },
                decideLogout(evt) {
                    evt.preventDefault();
                    var data = {token: this.token};
                    this.postData("{% url "gateway" "authentication" "/logout/" %}", data);
                    this.token = null;
                    this.user = null;
                    this.alertShow = false;
                    document.cookie = 'decide=;';
                    this.signup = true;
                    this.successVote = false;
                },
                decideEncrypt(s) {
                    var bigmsg = BigInt.fromJSONObject(s);
                    var cipher = ElGamal.encrypt(this.bigpk, bigmsg);
                    return cipher;
                },
                decideSend(evt) {
                    evt.preventDefault();
                    if (this.questionType === 'S' || this.questionType === 'B'){
                        var v = this.decideEncrypt(this.selected.toString());
                        var data = {
                            vote: {a: v.alpha.toString(), b: v.beta.toString()},
                            voting: this.voting.id,
                            voter: this.user.id,
                            token: this.token
                        }
                    }
                    else if (this.questionType === 'M') {
                        var vote = []
                        for (i=0; i < this.selected.length; i++){
                          var v = this.decideEncrypt(this.selected[i].toString())
                          vote.push({a: v.alpha.toString(), b: v.beta.toString()})
                        }
                        var data = {
                            vote: vote,
                            voting: this.voting.id,
                            voter: this.user.id,
                            token: this.token
                        }
                    }
                    else if (this.questionType === 'P') {
                        var selectedOptions = this.voting.question.options.map((opt, index) => [opt.number, this.selected[index]]);
                        var vote = []
                        for (i=0; i < selectedOptions.length; i++){
                            var v = this.decideEncrypt(selectedOptions[i][0].toString())
                            vote.push({a: v.alpha.toString(), b: v.beta.toString(), p: selectedOptions[i][1].toString()})
                        }
                        var data = {
                            vote: vote,
                            voting: this.voting.id,
                            voter: this.user.id,
                            token: this.token
                        }
                    }
                    
                    this.postData("{% url "gateway" "store" "/" %}", data)
                        .then(data => {
                            this.successVote = true;
                            this.alertShow = false;
                            this.showAlert("success", '{% trans "Congratulations. Your vote has been sent" %}');
                        })
                        .catch(error => {
                            this.succesVote = false;
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                  },
                showAlert(lvl, msg) {
                    this.alertLvl = lvl;
                    this.alertMsg = msg;
                    this.alertShow = true;
                }
            },
        }).mount('#app-booth')
    </script>
    
</body>
{% endblock %}
