{% extends "base.html" %}
{% load i18n static %}

{% block title %}Votings{% endblock %}

{% block extrahead %}   
    <link rel="stylesheet" href="{% static "booth/style.css" %}">
{% endblock %}

{% block content %}
    <!-- Login form using django form object and msg -->
    <section class="vertical-list">
        <h1 class="page-title">My Votings</h1>
        <div class="">
            <!-- Search bar using query value search_query passed by the controller -->
            <form method="get" action="/voting-list" class="search-bar row row-apart">
                <input type="text" name="q" placeholder="Search votings" value="{{ search_query }}">
                <!-- filter dropdown -->
                <div class="row">
                    <p class="voting-description">Filter by:</p>
                    <select name="filter" onchange="this.form.submit()">
                        <option value="" {% if filter == "" %}selected{% endif %}>All</option>
                        <option value="open" {% if filter == "open" %}selected{% endif %}>Open</option>
                        <option value="closed" {% if filter == "closed" %}selected{% endif %}>Closed</option>
                    </select>
                </div>
                <!-- submit with carachter return -->
                <input type="submit" style="display:none"/>
            </form>
        </div>
        {% if user_votings|length == 0 %}
            <h3 class="no-votings">No votings found</p>
        {% else %}
            {% for voting in user_votings %}
                <a href="/vote/{{ voting.id }}"  class="card voting-card">
                    <div class="row row-apart">
                        <h3 class="voting-name">{{ voting.name }}</h3>
                        {% if voting.end_date %}
                            <p class="voting-closed">Voting Closed</p>
                        {% else %}
                            <p class="voting-open">Voting Open</p>
                        {% endif %}
                    </div>
                    <p class="voting-description">{{ voting.desc }}</p>
                </a>
            {% endfor %}
        {% endif %}
    </section>

{% endblock %}
