{% extends "base.html" %}
{% load i18n static %}

{% block title %}Change password{% endblock %}

{% block extrahead %}   
<link rel="stylesheet" href="{% static "auth/style.css" %}">
{% endblock %}

{% block content %}
<section class="card form-card">
    <h2>Cambiar Contraseña</h2>
    {% if form.errors %}
    {% for field, errors in form.errors.items %}
    <div class="form-errors">
        <p>
            {{ errors|striptags }}
        </p>
    </div>
    {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <section class="form-content">
            <div class="input-group">
                <label for="id_old_password">Antigua Contraseña: </label>
                {{ form.old_password}}
            </div>
            <div class="input-group">
                <label for="id_new_password1">Nueva Contraseña: </label>
                {{ form.new_password1}}
            </div>
            <div class="input-group">
                <label for="id_new_password2">Confirmar Nueva Contraseña: </label>
                {{ form.new_password2}}
            </div>
        </section>
        <section class="form-confirmation">
            <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
        </section>
    </form>
</section>
{% endblock %}
