{% extends "base.html" %}
{% load i18n static %}

{% block title %}Restore password{% endblock %}

{% block extrahead %}   
<link rel="stylesheet" href="{% static "auth/style.css" %}">
{% endblock %}

{% block content %}

<h1>Check your inbox.</h1>
<p> We've emailed you instructions for setting your password. You should receive the email shortly!</p>

<!-- <section class="card form-card">
    <h2>Restaurar Contraseña</h2>
    <p>Se ha enviado un correo a dicho email para resetear la contraseña. Revisa tu correo y sigue las instrucciones.</p>
</section> -->
{% endblock %}
