{% extends "base.html" %}
{% load i18n static %}

{% block title %}Restore password{% endblock %}

{% block extrahead %}   
    <link rel="stylesheet" href="{% static "auth/style.css" %}">
{% endblock %}

{% block content %}
    {% if validlink %}
    <section class="card form-card">
        <section class="form-title"></section>
        <section class="form-msg">
            <h3 style="align-self: center;">
                Recuperar Contraseña
            </h3>
            {% if form.new_password1.errors %}
                <div class="form-errors">
                    <p>
                    {{ form.new_password1.errors.0 }}
                    </p>
                </div>
            {% endif %}
            {% if form.new_password2.errors %}
                <div class="form-errors">
                    <p>
                    {{ form.new_password2.errors.0 }}
                    </p>
                </div>
            {% endif %}
        </section>
        <form method="post">
            {% csrf_token %}
            <section class="form-content">
                <div class="input-group">
                    <label for="id_new_password1">Nueva contraseña:</label>
                    {{ form.new_password1 }}
                </div>
                <div class="input-group">
                    <label for="id_new_password2">Confirme contraseña:</label>
                    {{ form.new_password2 }}
                </div>
            </section>
            <section class="form-confirmation">
                <button type="submit" class="btn btn-primary" style="width: 200px; align-self: center;">Cambiar Contraseña</button>
            </section>
        </form>
    </section>

    {% else %}
    <section class="card form-card">
        <section class="form-content">
            <p>
                The password reset link was invalid, possibly because it has already been used
            </p>
        </section>
    </section>
    {% endif %}
   
{% endblock %}
