{% extends "base.html" %}
{% load i18n static %}

{% block title %}Restore password{% endblock %}

{% block extrahead %}   
<link rel="stylesheet" href="{% static "auth/style.css" %}">
{% endblock %}

{% block content %}
<section class="card form-card">
    <h2>Restaurar Contraseña</h2>
    {% if form.errors %}
        {% for field, errors in form.errors.items %}
        <div class="form-errors">
            <p>
                {{ errors|striptags }}
            </p>
        </div>
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <section class="form-content">
            <div class="input-group">
                <label for="email">Introduce tu email:</label>
                <input type="email" id="email" name="email" required>
            </div>
        </section>
        <section class="form-confirmation">
            <button type="submit" class="btn btn-primary">Enviar email</button>
        </section>
    </form>
</section>
{% endblock %}
