{% extends "base.html" %}
{% load i18n static %}

{% block title %}Restore password{% endblock %}

{% block extrahead %}   
    <link rel="stylesheet" href="{% static "auth/style.css" %}">
{% endblock %}

{% block content %}
<section class="card form-card">
    <section class="form-title"></section>
    <section class="form-msg">
        <h3>
            Recuperar Contraseña
        </h3>
    </section>
    <section class="form-content">
        <p>Se ha enviado un correo a tu email para resetear la contraseña. Revisa tu correo y sigue las instrucciones.</p>
    </section>
</section>

{% endblock %}
