{% extends "base.html" %}
{% load i18n static %}

{% block title %}Registration{% endblock %}

{% block extrahead %}
    <!-- <link rel="stylesheet" href="{% static "homepage/homepage.css" %}"> -->
    <link rel="stylesheet" href="{% static "auth/register.css" %}">
{% endblock %}

{% block content %}
    <section class="registration">
        <form method="post">
            {% csrf_token %}
            <div class="registration-form">
                <label for="id_first_name">Nombre:</label>
                {{ form.first_name }}
                <label for="id_last_name">Apellidos:</label>
                {{ form.last_name }}
                <label for="id_email">Email:</label>
                {{ form.email }}
                <label for="id_username">Usuario:</label>
                {{ form.username }}
                <label for="id_password1">Contraseña:</label>
                {{ form.password1 }}
                <label for="id_password2">Confirme Contraseña:</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <p class="error">{{ form.password2.errors.0 }}</p>
                {% endif %}
            </div>
            <button type="submit" class="register-button">Registrarse</button>
        </form>
        <!-- JavaScript to set focus on the name field when the page loads -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                document.getElementById('id_first_name').focus();
            });
        </script>
    </section>
{% endblock %}

