#app-visualizer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
.show-charts{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

table {
    width: 200px;
}

.voting {
    margin-top: 20px;
    margin-left: 40px;
}
.bar-chart{
    display: flex;
    width: 80%;
}

.bar{
    width: 50%;
}
