#app-visualizer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
    width: 100%;
    gap: 40px;
}
.show-charts{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.charts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}
table {
    width: 200px;
}
.page-title {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.voting {
    margin-top: 20px;
    margin-left: 40px;
}
.chart{
    display: flex;
    width: 40%;
}

.bar{
    width: 50%;
}
.vertical-list {
    display: flex;
    flex-direction: column;
    align-items: left; 
    overflow-x: hidden;
    margin: 50px 0;
    padding: 1.5em;
    gap: 1em;
    min-width: 65em;
    max-width: 65em;
}

.card {
    height: fit-content;
    width: fit-content;
    padding: 1em;
    background-color: #eedbd3;
    border-radius: 0.5em;
}

.card-voting {
    height: 25em;
    width:50em;
    align-self: center;
    background-color: #ead4ca;
    padding: 1em;
    margin: 50px;
    border-radius: 0.5em;
    gap: 20px;
    position: relative;
}

.voting-card, .opinion-card {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
    transition: all .15s ease-in-out;
    text-decoration: none;
    color: inherit;
}

.opinion-card {
    transition: none;
}

textarea {
    width: 100%;
    border-radius: 5px;
    padding: 10px
}

#submit-opinion, .opinions-card {
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: var(--green-color);
    width: fit-content;
    text-decoration: none;
    color: var(--text-color)
}

.opinions-card {
    margin: 0;
}

#submit-opinion:hover, #opinions-button:hover {
    background-color: var(--green-dark-color); 
    cursor: pointer;
}

#opinion-date {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bolder;
}

.voting-card:hover {
    background-color: #e5cfc6;
    cursor: pointer;
    transform: scale(1.01);
}

.voting-name {
    font-size: 1.5em;
    font-weight: bold;
}

.voting-description {
    font-size: 1em;
    font-weight: normal;
}

.voting-open {
    font-weight: bold;
    font-style: italic;
    color: var(--green-dark-color);
}

.voting-closed {
    font-weight: bold;
    font-style: italic;
    color: var(--red-dark-color);
}

.search-bar input {
    width: 20em;
    padding: 8px;
    margin-top: 5px;
    border-radius: .25em;
    border: 1px solid #ccc;
    background-color: #efefef;
    font-family: var(--fuente2);
}

.search-bar select {
    width: 20em;
    padding: 8px;
    margin-top: 5px;
    border-radius: .25em;
    border: 1px solid #ccc;
    background-color: #efefef;
    font-family: var(--fuente2);
}

.no-votings {
    width: 100%;
}

.btn-vote {
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.btn-vote:hover {
    background-color: var(--primary-dark-color);
}

.voting-title {
    font-weight: bold;
    margin-left: 20px;
}

.voting-desc {
    margin-left: 20px;
    margin-top: 10px;
}

.voting-options {
    margin-left: 20px;
    margin-top: 20px;
}

.form-options {
    margin-bottom: 15px;
}

.caja-mensaje {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
}

.verde {
    background-color: #4CAF50; /* Color verde */
    color: white; /* Texto blanco */
}

.form-title {
    font-family: var(--fuente1);
    font-size: 1.5em;
    font-weight: bold;
    color: var(--text-color);
  }
  
.form-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5em;
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.input-group input {
    width: 20em;
    padding: 8px;
    margin-top: 5px;
    border-radius: 0.25em;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    color: var(--input-text);
    font-family: var(--fuente2);
}

.input-group i {
    font-size: 1.5em;
}

.select {
    padding: 6px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 0.25em;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    color: var(--input-text);
    font-family: var(--fuente2);
  }
