#app-visualizer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    width: 100%;
}
.show-charts{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.charts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}
table {
    width: 200px;
}

.voting {
    margin-top: 20px;
    margin-left: 40px;
}
.chart{
    display: flex;
    width: 40%;
}

.bar{
    width: 50%;
}
